.container {
  display: flex;
  margin-bottom: 40px;
  padding: 4px 12px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color:F7FAFC; // Gray.50 of Chakra

  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 140px;
}

.shoppingCart {
  margin-right: 16px;
}

.brandName {
  font-family: 'Ramaraja', serif;
  font-size: 34px;
  color: #065666; // Cyan.900 of Chakra
}

.slogan {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  margin-top: -16px;
  color: #065666; // Cyan.900 of Chakra
}

.input {
  margin-left: -5%;
  margin-right: 16px;

  &Icon {
    margin-top: 4px;
  }

  &Button {
    margin-left: 16px;
  }
}