@import '../../scss/variables';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px 64px 12px 64px;
}

.item {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  padding: 8px;
  margin: 8px;
  background-color: $grayLight;
  border: 1px $grayMedium solid;
  border-radius: 4px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s; 

  &:hover {
    background-color: $grayMedium;
    cursor: pointer;
  }

  &Img {
    align-self: center;
    position: relative;
    width: 160px;
    height: 100px;
    margin-bottom: 8px;
  }
}