@import '../../scss/variables';

.container {
  margin-bottom: 100px;

  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.content {
  display: flex;
  padding: 4px 36px 4px 12px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $gray50;

}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 140px;
}

.brandName {
  font-family: $titleFont;
  font-size: 34px;
  color: $cyan900
}

.slogan {
  font-family: $sloganFont;
  font-size: 24px;
  margin-top: -16px;
  color: $cyan900 // Cyan.900 of Chakra
}

.input {
  margin-left: -5%;
  margin-right: 16px;

  &Icon {
    margin-top: 4px;
  }

  &Button {
    margin-left: 16px;
  }
}

.banner {
  width: 100%;
  // border-top: 1px solid $cyan900;
  // border-bottom: 1px solid $cyan900;
  text-align: center;
  background-color: $cyan900;
  color: $gray50;
  font-style: italic;

  span:not(:last-child) {
    svg {
      margin-right: 16px;
    }
  }

  span svg {
    margin-bottom: -6px;
    fill: $gold;
  }
}