// Colors
$primaryDark: #065666; // Cyan.900 of Chakra
$grayLight: #F7FAFC; // Gray.50 of Chakra
$grayMedium: #E2E8F0;
$gold: #D4AF37;

// Fonts
$titleFont: 'Ramaraja', serif;
$sloganFont: 'Dancing Script', cursive;